.container1 {
  min-height: 50vh;
  width: 100%;
  background-color: #232f3e;
  padding: 3rem 0 0;
}

.container2{
    background-color: #131a22;
    min-height: 55vh;
    width: 100%;
}

.row{
  width: 63rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.p1{
  margin: 5px 0;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}