.container{
    height: 4vh;
    width: 100%;
    background-color: #232f3e;
    padding: 0 2rem ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title{
    color: #fff;
    margin: auto;
    font-weight: 550;
    padding: 0 0.8rem;
    cursor: pointer;
    &:hover{
        border: 1px solid #fff;
        padding: 2px 0.8rem;
    }
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}