<div class="container">
  <img
    class="logo"
    style="height: 3rem; padding: 5px; cursor: pointer; outline: none"
    src="../assets/logo-w.png"
    alt="img"
    routerLink="/"
  />
  <div class="card">
    <p class="heading">Sign-In</p>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <p 
      *ngIf="error_msg"
      class="label" style="margin: 4px 0; font: size 12px; color: #cd3f55">
        {{ error_msg }}
      </p>

      <p class="label">Email or mobile phone number</p>

      <input
        [ngClass]="!email.valid && email.touched ? 'inp1' : 'inp'"
        required
        [(ngModel)]="emailorpn"
        ngModel
        #email="ngModel"
        name="email"
      />
      <p
        *ngIf="email.invalid && email.touched && email.errors.required"
        class="label"
        style="margin: 4px 0; font: size 12px; color: #cd3f55"
      >
        ! Enter your email or mobile phone number
      </p>
      <p class="label">Password</p>
      <input
        name="password"
        ngModel
        #pass="ngModel"
        [ngClass]="!pass.valid && pass.touched ? 'inp1' : 'inp'"
        [(ngModel)]="password"
        required
        minlength="6"
        type="password"
      />
      <p
        *ngIf="pass.invalid && pass.touched && pass.errors.required"
        class="label"
        style="margin: 4px 0; font: size 12px; color: #cd3f55"
      >
        ! Enter your password
      </p>
      <p
        *ngIf="pass.invalid && pass.touched && pass.errors.minlength"
        class="label"
        style="margin: 4px 0; font: size 12px; color: #cd3f55"
      >
        ! Passwords must be at least 6 characters.
      </p>
      <button class="btn">Continue</button>
    </form>

    <p class="tag">
      By continuing, you agree to Amazon's
      <span class="link">Conditions of Use</span> and
      <span class="link">Privacy Notice.</span>
    </p>
  </div>

  <div class="cont">
    <div
      style="
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
      "
    >
      <div class="edge" style="height: 1px; background: #dddddd"></div>
      <p style="color: #a29d9e; font-size: 12px; font-weight: 550; margin: 0">
        New to Amazon?
      </p>
      <div class="edge" style="height: 1px;background: #dddddd"></div>
      <div style="height: 1px; background: #a29d9e"></div>
    </div>

    <button
     routerLink="/register" class="btn1">Create your Amazon account</button>
  </div>

  <div
    style="width: 70vw; height: 2px; margin: 2rem 0; background-color: #f8f8f8"
  ></div>

  <div
    style="
      margin: 0;
      width: 15rem;
      display: flex;
      justify-content: space-between;
    "
  >
    <p class="link" style="font-size: 12px">Conditions of Use</p>
    <p class="link" style="font-size: 12px">Privacy Notice</p>
    <p class="link" style="font-size: 12px">Help</p>
  </div>
  <p style="font-size: 10px; color: #6b6461; margin: 0">
    © 1996-2020, Amazon.com, Inc. or its affiliates
  </p>
</div>
