<div class="container">
  <!-- left -->
  <div class="leftCont">
    <img
      class="logo"
      style="height: 6vh; width: 9rem; padding: 5px"
      src="../assets/logo.png"
      alt="img"
    />
    <div
      class="location"
      style="padding: 10px; display: flex; align-items: center"
    >
      <mat-icon
        class="material-icons-outlined"
        style="color: #fff; align-self: flex-end; margin-bottom: 2px"
        >room</mat-icon
      >
      <div
        style="
          color: #fff;
          margin: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
        "
      >
        <p style="margin: 0px; font-size: 12px; opacity: 0.8">Deliver to</p>
        <p style="margin: 0px; font-weight: 600; font-size: 12px">India</p>
      </div>
    </div>
  </div>
  <!-- right -->

  <div style="width: 60%; padding: 12px 10px; height: 7vh">
    <app-search></app-search>
  </div>

  <div class="rightCont">
    <div class="border" style="display: flex; justify-content: space-between">
      <img
        src="https://cdn.britannica.com/97/1597-004-05816F4E/Flag-India.jpg"
        alt="img"
        style="height: 2vh"
      />
      <mat-icon style="color: #a7acb2">arrow_drop_down</mat-icon>
    </div>
    <div
      class="border"
      (mouseover)="hovered = true"
      (mouseleave)="hovered = false"
      style="
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
      "
    >
      <div>
        <p class="title" style="font-size: 12; opacity: 0.8">
          Hello, {{ name }}
        </p>
        <p class="title">Accounts & Lists</p>
      </div>
      <mat-icon style="color: #a7acb2">arrow_drop_down</mat-icon>
      <div
        *ngIf="hovered"
        (mouseover)="hovered = true"
        (mouseleave)="hovered = false"
        style="
          cursor: pointer;
          position: absolute;
          width: 30rem;
          min-height: 21rem;
          top: 6vh;
          right: 7vw;
          z-index: 30;
          background-color: #fff;
          border-radius: 7px;
          padding: 1rem;
          display: flex;
          align-items: center;
          flex-direction: column;
        "
      >
        <button
          *ngIf="!isLoggedIn()"
          style="padding: 8px 0; width: 45%"
          routerLink="signin"
          class="btn"
        >
          Sign in
        </button>
        <p
          *ngIf="!isLoggedIn()"
          style="font-size: 12px; margin-top: 5px; margin-bottom: 0px"
        >
          New customer?
          <span><a routerLink="signin" class="link">Start here.</a></span>
        </p>
        <div *ngIf="!isLoggedIn()" style="width: 100%; margin: 5px 0">
          <mat-divider></mat-divider>
        </div>
        <div
          style="
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;
          "
        >
          <div style="width: 47%; height: 100%">
            <p class="title1" style="font-size: 0.9rem; margin-top: 1rem">
              Your Lists
            </p>
            <div style="display: flex; flex-direction: column">
              <a *ngFor="let x of lists" class="link1" routerLink="signin">
                {{ x }}
              </a>
            </div>
          </div>
          <div
            style="
              margin: 10px 10px 10px 0;
              min-height: 19rem;
              width: 1%;
              border-right: 1px solid #eee;
            "
          ></div>
          <!-- <mat-divider [vertical]="true"></mat-divider> -->
          <div style="width: 47%; height: 100%">
            <p class="title1" style="font-size: 0.9rem; margin-top: 1rem">
              Your Account
            </p>
            <div style="display: flex; flex-direction: column">
              <a *ngFor="let x of accounts" class="link1" routerLink="signin">
                {{ x }}
              </a>
              <a *ngIf="isLoggedIn()" class="link1"> Switch Accounts </a>
              <a *ngIf="isLoggedIn()" (click)="signOut()" class="link1">
                Sign Out</a
              >
            </div>
          </div>
        </div>
        <nb-icon
          icon="arrow-up"
          style="
            width: 2rem;
            height: 2rem;
            position: absolute;
            right: 16.65%;
            top: -4.5%;
            color: #fff;
          "
        ></nb-icon>
      </div>
    </div>
    <div
      class="border"
      style="
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        padding: 5px 10px;
      "
    >
      <div>
        <p class="title" style="font-size: 12; opacity: 0.8">Returns</p>
        <p class="title">& Orders</p>
      </div>
      <mat-icon style="color: #a7acb2">arrow_drop_down</mat-icon>
    </div>
    <div
      class="border"
      style="
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        padding: 10px 10px;
        margin-right: 1rem;
      "
    >
      <nb-icon
        [options]="{ animation: { type: 'pulse' } }"
        style="
          position: relative;
          z-index: 1;
          color: #fff;
          height: 2rem;
          width: 2rem;
          cursor: pointer;
        "
        icon="shopping-cart-outline"
      ></nb-icon>
      <p class="title">
        <span
          style="
            color: #c35634;
            font-size: 18px;
            position: relative;
            left: -3px;
            z-index: 20;
          "
          >{{ count }}</span
        >
        <br />
        Cart
      </p>
    </div>
  </div>
</div>

<div class="menubar">
  <app-menubar (openDrawer)="open()"></app-menubar>
</div>

<div [ngClass]="hovered ? 'overlay' : ''"></div>

<div class="mcontainer" style="overflow-x: hidden">
  <div class="mnav">
    <div class="row">
      <mat-icon
        *ngIf="visible"
        style="
          position: absolute;
          right: -5vh;
          color: red;
          z-index: 1000000000000000000000000 !important;
        "
        >close</mat-icon
      >
      <mat-icon (click)="open()" style="cursor: pointer; color: #fff"
        >menu</mat-icon
      >

      <img
        class="logo"
        style="height: 3rem; padding: 5px"
        src="../assets/logo.png"
        alt="img"
      />
    </div>

    <div
      style="
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
      "
    >
      <p
        routerLink="/signin"
        style="
          outline: none;
          color: #fff;
          margin: 0;
          align-self: center;
          margin-right: 5px;
        "
      >
        {{ name == "Sign in" ? "Sign In" : "Hello, " + name }}
      </p>
      <nb-icon
        [options]="{ animation: { type: 'pulse' } }"
        style="
          position: relative;
          z-index: 1;
          color: #fff;
          height: 2rem;
          width: 2rem;
          cursor: pointer;
        "
        icon="shopping-cart-outline"
      ></nb-icon>
      <p class="title">
        <span
          style="
            color: #c35634;
            font-size: 18px;
            position: relative;
            bottom: 15px;
            z-index: 20;
          "
          >{{ count }}</span
        >
      </p>
    </div>
  </div>
  <div
    style="width: 100%; min-height: 2.7rem; height: 6.5vh; margin: 10px 0 5px"
  >
    <app-search hideDropDown></app-search>
  </div>
  <div
    style="
      overflow-x: scroll;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
    "
  >
    <p
      style="
        margin: 0px;
        display: inline !important;
        margin-right: 1rem;
        margin-top: 0.8rem;
        color: #fff;
        max-width: 7rem;
        white-space: nowrap;
      "
      *ngFor="let x of categories"
    >
      {{ x }}
    </p>
  </div>
</div>

<div
  class="tag"
  style="display: flex; align-items: center; justify-content: space-between"
>
  <div
    style="display: flex; align-items: center; justify-content: space-between"
  >
    <mat-icon
      class="material-icons-outlined"
      style="color: #fff; align-self: flex-end; margin-right: 5px"
      >room</mat-icon
    >
    <p style="color: #fff; margin: 0">Deliver to India</p>
  </div>

  <a
    href="https://amazon-api-by-sai.herokuapp.com/"
    style="color: #fff; margin: 0; outline: none"
    >Spring API</a
  >
</div>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="visible"
  nzPlacement="left"
  [nzCloseIcon]="close"
  (nzOnClose)="close()"
>
  <ng-container style="position: absolute; padding: 2rem 0" *nzDrawerContent>
    <div style="position: absolute; width: 100%; left: 0">
      <p
        routerLink="signin"
        style="
          display: flex;
          align-items: center;
          font-weight: 550;
          padding-left: 2rem;
          font-size: 18px;
          outline: none;
        "
      >
        <mat-icon style="margin-right: 10px">person_outline</mat-icon>
        Hello, {{ name }}
      </p>
      <div
        style="
          width: 100%;
          left: 0;
          height: 0.1rem;
          width: 100%;
          background-color: #d5dbdb;
        "
      ></div>
      <div style="height: 0.6rem"></div>
      <p
        style="font-size: 16px; margin: 1rem 0; padding-left: 2rem"
        *ngFor="let x of navbarOptions"
      >
        {{ x }}
      </p>
      <div
        style="
          width: 100%;
          left: 0;
          margin-bottom: 1rem;
          height: 0.35rem;
          width: 100%;
          background-color: #d5dbdb;
          margin-bottom: 1rem;
        "
      ></div>
      <p
        style="
          padding-left: 2rem;
          margin: 1rem 0;
          font-weight: 550;
          font-size: 16px;
        "
      >
        Explore
      </p>
      <p style="font-size: 12px; margin-left: 2rem; opacity: 0.8">
        TOP DEPARTMENTS
      </p>
      <p
        style="padding-left: 2rem; font-size: 16px; margin: 1rem 0"
        *ngFor="let x of exploreOptions"
      >
        {{ x }}
      </p>

      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 2rem;
        "
      >
        <p style="margin: 0; font-size: 16px">See All Departments</p>
        <mat-icon style="margin: 0">keyboard_arrow_right</mat-icon>
      </div>

      <div
        style="
          width: 100%;
          left: 0;
          height: 0.35rem;
          width: 100%;
          background-color: #d5dbdb;
          margin: 1rem 0;
        "
      ></div>

      <p
        style="
          padding-left: 2rem;
          margin: 1rem 0;
          font-weight: 550;
          font-size: 16px;
        "
      >
        Settings
      </p>

      <div style="display: flex; align-items: center; margin: 1rem 2rem">
        <img
          src="https://cdn.britannica.com/97/1597-004-05816F4E/Flag-India.jpg"
          alt="img"
          style="height: 1rem; margin-right: 10px"
        />
        <p style="font-size: 16px; margin: 0">English</p>
      </div>

      <div style="display: flex; align-items: center; margin: 1rem 2rem">
        <mat-icon
          style="
            height: 14px;
            font-size: 14px;
            margin-right: 10px;
            opacity: 0.7;
          "
          >language</mat-icon
        >
        <p style="font-size: 16px; margin: 0">India</p>
      </div>

      <p
        *ngIf="isLoggedIn()"
        (click)="signOut()"
        style="font-size: 16px; margin: 1rem 2rem 3rem"
      >
        Sign Out
      </p>
      <p
        *ngIf="!isLoggedIn()"
        routerLink="/signin"
        style="
          cursor: pointer;
          outline: none;
          font-size: 16px;
          margin: 1rem 2rem 3rem;
        "
      >
        Sign In
      </p>
    </div>
  </ng-container>
</nz-drawer>
