.container{
    padding: 1rem;
    font-size:1.2rem;
}

.link {
    color: #0d7387;
    margin-top: 10px;
    font-size: 0.9rem;
    &:hover {
      color: #c85050;
      text-decoration: underline;
    }
    outline: none;
  }
  