/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #232f3e;
}

