.container {
  width: 100%;
  min-height: 90vh;
  background-color: #eaeded;
  position: absolute;
}

@media only screen and (max-width: 1000px) {
  .container {
    display: none;
  }
}

.main {
  width: 85%;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0px;
}

.link {
  color: #0d7387;
  margin-top: 10px;
  &:hover {
    color: #c85050;
    text-decoration: underline;
  }
  outline: none;
}

.btn {
  padding: 10px 0;
  background: linear-gradient(#f5d588, #f0c14b);
  width: 100%;
  margin: 5px 0;
  border: 0.2px solid black;
  outline: none;
  cursor: pointer;
  &:active {
    box-shadow: 1px 1px  1px 1px orange;
    border: 1px solid orange;
    background: #f0c14b;
  }
}

p::-webkit-scrollbar{
  display:none;
}